In [1]:
import nltk as nlp 
from nltk.corpus import brown
import re 
import pandas as pd

In [2]:
t=' Ram is a good boy '
s=t.split()

In [3]:
x=brown.words()
word=set(s).intersection(x)
count=[]
count1=[]
for i in word:
    y=x.count(i)
    count.append(y)
    z=y/len(x)
    count1.append(z)
print(count)
print(count1)

[21881, 767, 10011, 235]
[0.01884356764428277, 0.000660528146938663, 0.008621313271190294, 0.00020237824580258905]

In [4]:
pi={}
for key in word:
    for value in count1:
        pi[key]=value
        count1.remove(value)
        break
print("π Matrix")
print(pi)

π Matrix
{'a': 0.01884356764428277, 'good': 0.000660528146938663, 'is': 0.008621313271190294, 'boy': 0.00020237824580258905}

In [5]:
w='is'
r='raining'
o1=[]
o2=[]
l=[]
for i in range(len(x)):
    if(x[i]==w):
        j=i+1
        o1.append(j)
for i in o1:    
    if(x[i]==r):
        o2.append(i)
l.append(len(o2))

In [6]:
l

[1]

In [7]:
w=['is','was']
r=['a','an','the']
o1=[]
o2=[]
o3=[]
l=[]

for k in w:
    for i in range(len(x)):
        if(x[i]==k):
            j=i+1
            o1.append(j)
    o3.append(o1)
    o1=[]
for k in range(len(o3)):
    for j in r:
        for i in o3[k]:    
            if(x[i]==j):
                o2.append(i)
        l.append(len(o2))
        o2=[]

In [8]:
l

[864, 161, 782, 776, 106, 524]

In [9]:
len(o1)

0

In [10]:
t='it was raining'
t1=t.split()
o1=[]
o2=[]
o3=[]
l=[]

for k in t1:
    for i in range(len(x)):
        if(x[i]==k):
            j=i+1
            o1.append(j)
    o3.append(o1)
    o1=[]
for k in range(len(o3)):
    for j in t1:
        for i in o3[k]:    
            if(x[i]==j):
                o2.append(i)
        l.append(len(o2))
        o2=[]

In [11]:
l

[0, 743, 0, 24, 0, 1, 0, 0, 0]

In [12]:
w=['it','was','raining']
r=['it','was','raining']
o1=[]
o2=[]
o3=[]
l=[]

for k in w:
    for i in range(len(x)):
        if(x[i]==k):
            j=i+1
            o1.append(j)
    o3.append(o1)
    o1=[]
for k in range(len(o3)):
    for j in r:
        for i in o3[k]:    
            if(x[i]==j):
                o2.append(i)
        l.append(len(o2))
        o2=[]

In [13]:
l

[0, 743, 0, 24, 0, 1, 0, 0, 0]

In [14]:
import numpy as np
Amatrix = np.zeros ((len(t1), len(t1)))

In [15]:
l=np.array(l)
l

array([  0, 743,   0,  24,   0,   1,   0,   0,   0])

In [16]:
A=l.reshape((3,3))

In [17]:
import pandas as pd
df = pd.DataFrame(A)
df.columns=t1
df['#']=t1
df.set_index('#')

         it  was  raining
#
it        0  743        0
was      24    0        1
raining   0    0        0

In [2]:
x=(30,80)

In [3]:
x[1]

80

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.corpus import brown

In [49]:
p=brown.tagged_words(tagset='universal')

In [17]:
w='is'
r='raining'
o1=[]
o2=[]
l=[]
for t in p:
    if(t[0]==w):
        o1.append(t[1])
l.append(len(o1))

In [18]:
l

[10011]

In [19]:
w='bear'
o1=[]
l=[]
for t in p:
    if(t[0]==w):
        o1.append(t[1])
l.append(len(o1))

In [21]:
o1

['VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'NN',
 'VB',
 'NN',
 'NNS',
 'VB',
 'VB',
 'NN',
 'NN',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'NN',
 'NN',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'VB',
 'NN',
 'VB',
 'NN',
 'NN',
 'NN',
 'VB']

In [27]:
counts=dict()
for i in o1:
    if i in counts:
        counts[i]+= 1
    else:
        counts[i]=1
print(counts)

{'VB': 42, 'NN': 10, 'NNS': 1}

In [50]:
w='bear bear bear'
t1=w.split()
o1=[]
l=[]
for k in t1:
    for t in p:
        if(t[0]==k):
            o1.append(t[1])
    l.append(o1)
    o1=[]
counts=dict()
for i in range(len(l)):
    for j in l[i] :
        if j in counts:
            counts[j]+= 1
        else:
            counts[j]=1
    print(counts)
    counts=dict()

{'VERB': 42, 'NOUN': 11}
{'VERB': 42, 'NOUN': 11}
{'VERB': 42, 'NOUN': 11}

In [51]:
w='he said that'
t1=w.split()
o1=[]
l=[]
for k in t1:
    for t in p:
        if(t[0]==k):
            o1.append(t[1])
    l.append(o1)
    o1=[]
counts=dict()
for i in range(len(l)):
    for j in l[i] :
        if j in counts:
            counts[j]+= 1
        else:
            counts[j]=1
    print(counts)
    counts=dict()

{'PRON': 6564, 'X': 2}
{'VERB': 1943}
{'ADP': 6422, 'PRON': 1779, 'DET': 1981, 'ADV': 54, 'X': 1}

In [41]:
e=['NOUN']
o4=[]
o5=[]
for k in e:
    for i in range(len(p)):
        for j in p:
            if(j[1]==k):
                f=i+1
                o4.append(j)

[]

In [57]:
for k in e:
    print(k)

NOUN
VERB
.
ADP
ADJ
ADV
PRON
CONJ
PRT
NUM
X